<tr>
  <td>
    <h5><%= category.id %></h5>  
  </td>
  <td>
    <h5><%= category.name %></h5>  
  </td>
  <td>
  <% @products.each do |product| %>
    <% if product.category_id == category.id %>
    <%= product.name %> *
    <% end %>
  <% end %>  
  </td>
</tr>